{% extends 'base.html.twig' %}

{% block title %}Edit Grupa{% endblock %}

{% block body %}
    <h1>Edit Grupa</h1>

    {{ include('grupa/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('grupa_index') }}">back to list</a>

    {{ include('grupa/_delete_form.html.twig') }}
{% endblock %}
