{% extends 'base.html.twig' %}

{% block title %}New Grupa{% endblock %}

{% block body %}
    <h1>Create new Grupa</h1>

    {{ include('grupa/_form.html.twig') }}

    <a href="{{ path('grupa_index') }}">back to list</a>
{% endblock %}
