{% extends 'base.html.twig' %}

{% block title %}New Choroba{% endblock %}

{% block body %}
    <h1>Create new Choroba</h1>

    {{ include('choroba/_form.html.twig') }}
    <a href="{{ path('choroba_new') }}">Dodaj nową</a>
    <a href="{{ path('choroba_index') }}">powrót do listy</a>
{% endblock %}
