{% extends 'base.html.twig' %}

{% block title %}New Dawka{% endblock %}

{% block body %}
    <h3>Create new Dawka</h3>

    {{ include('dawka/_form.html.twig') }}

    <a href="{{ path('dawka_index') }}">back to list</a>
{% endblock %}
