{% extends 'base.html.twig' %}

{% block title %}New Pacjent{% endblock %}

{% block body %}
    <h3>Create new Pacjent</h3>

    {{ include('pacjent/_form.html.twig') }}

    <a href="{{ path('pacjent_index') }}">back to list</a>
{% endblock %}
