{% extends 'base.html.twig' %}

{% block title %}New Uzytkownik{% endblock %}

{% block body %}
    <h1>Create new Uzytkownik</h1>

    {{ include('uzytkownik/_form.html.twig') }}

    <a href="{{ path('uzytkownik_index') }}">back to list</a>
{% endblock %}
