{% extends 'base.html.twig' %}

{% block title %}Nowy schemat{% endblock %}

{% block body %}
    <h3>Utwórz Schemat</h1>
    {{ include('schemat/_form.html.twig') }}
    <a href="{{ path('szczepionka_show', {'id': schemat.podawania.id}) }}">powrót do szczepionki</a>
    <br>
    <a href="{{ path('schemat_index') }}">lista schematów</a>
{% endblock %}
