{% extends 'base.html.twig' %}

{% block title %}New Schemat{% endblock %}

{% block body %}
    <h1>Create new Schemat</h1>

    {{ include('schemat/_form.html.twig') }}
    <a href="{{ path('szczepionka_show', {'id': schemat.podawania.id}) }}">powrót do szczepionki</a>
    <br>
    <a href="{{ path('schemat_index') }}">lista schematów</a>
{% endblock %}
