{% extends 'base.html.twig' %}

{% block title %}Edit Warunek{% endblock %}

{% block body %}
    <h1>Edit Warunek</h1>

    {{ include('warunek/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('warunek_index') }}">back to list</a>

    {{ include('warunek/_delete_form.html.twig') }}
{% endblock %}
