{% extends 'base.html.twig' %}

{% block title %}New Szczepiacy{% endblock %}

{% block body %}
    <h3>Create new Szczepiacy</h3>

    {{ include('szczepiacy/_form.html.twig') }}

    <a href="{{ path('szczepiacy_index') }}">back to list</a>
{% endblock %}
